In [1]:
# first install libraries using pip 

import pandas as pd
import numpy as np 
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv('PB_ALL_2000_2021.csv', sep=';')
df

,id,date,NH4,BSK5,Suspended,O2,NO3,NO2,SO4,PO4,CL
0,1,17.02.2000,0.330,2.77,12.0,12.30,9.500,0.057,154.00,0.454,289.50
1,1,11.05.2000,0.044,3.00,51.6,14.61,17.750,0.034,352.00,0.090,1792.00
2,1,11.09.2000,0.032,2.10,24.5,9.87,13.800,0.173,416.00,0.200,2509.00
3,1,13.12.2000,0.170,2.23,35.6,12.40,17.130,0.099,275.20,0.377,1264.00
4,1,02.03.2001,0.000,3.03,48.8,14.69,10.000,0.065,281.60,0.134,1462.00
5,1,07.06.2001,0.020,4.02,34.0,10.61,11.800,0.016,287.00,0.208,1183.00
6,1,10.09.2001,0.863,3.91,147.0,10.96,20.500,0.284,595.20,0.674,4023.00
7,1,06.11.2001,0.060,2.97,71.2,13.47,25.800,0.095,314.00,0.390,1907.00
8,1,12.03.2002,0.168,4.15,27.0,17.82,3.945,0.058,153.60,0.110,473.00
9,1,06.06.2002,0.001,7.11,74.4,19.28,2.260,0.017,409.60,0.181,1782.00
10,1,15.07.2002,0.668,6.81,80.0,10.74,34.000,0.020,505.60,0.222,3160.00
11,1,07.11.2002,0.082,3.00,51.4,13.08,27.050,0.092,314.00,0.179,1907.00
12,1,24.02.2003,0.603,3.20,42.0,14.97,9.870,0.169,160.00,0.130,403.70
13,1,13.06.2003,0.058,2.80,9.3,12.30,15.300,0.060,500.00,0.300,2325.00
14,1,16.09.2003,0.053,2.30,31.2,10.80,16.800,0.078,498.50,0.380,2375.00
15,1,14.10.2003,0.017,4.76,80.0,13.77,28.400,0.048,518.40,0.371,3304.50
16,1,15.03.2004,0.014,2.61,30.8,15.51,19.610,0.052,557.80,0.150,1075.00
17,1,10.06.2004,0.035,3.38,59.2,10.47,20.610,0.081,708.40,0.200,2122.83
18,1,06.09.2004,0.057,2.83,25.6,6.97,27.300,0.120,416.16,0.780,2669.60
19,1,14.12.2004,0.053,2.80,19.9,16.10,27.080,0.130,540.60,0.820,2425.00
20,1,17.01.2005,0.000,1.14,26.0,11.66,17.100,0.043,262.40,0.530,836.60
21,1,14.05.2005,0.004,2.31,0.0,14.21,3.480,0.044,183.40,0.000,463.30
22,1,02.09.2005,0.000,3.68,28.5,14.20,15.510,0.033,422.40,0.900,2063.80
23,1,22.12.2005,0.063,2.16,24.8,14.78,17.900,0.052,288.00,0.380,1291.60
24,1,20.03.2006,0.000,0.74,10.0,12.30,17.730,0.087,224.00,0.270,489.00
25,1,09.06.2006,0.035,3.21,24.0,12.22,12.590,0.051,236.80,0.320,1020.90
26,1,27.09.2006,0.005,1.83,40.4,12.05,20.200,0.047,294.40,0.520,1758.30
27,1,14.11.2006,0.041,2.70,12.0,10.72,20.270,0.076,268.80,0.610,1418.00
28,1,14.03.2007,0.020,3.99,22.8,14.96,5.900,0.058,324.50,0.008,1162.80
29,1,11.05.2007,0.000,3.24,48.0,10.67,50.800,0.053,322.80,0.010,1588.20
...,...,...,...,...,...,...,...,...,...,...,...
2831,22,24.09.2018,0.149,3.62,2.0,10.48,1.550,0.015,125.44,0.496,64.64
2832,22,08.10.2018,0.327,1.04,0.8,11.47,2.060,0.021,166.40,0.679,73.26
2833,22,06.11.2018,0.180,1.49,1.9,11.57,1.110,0.020,108.80,0.358,56.74
2834,22,12.12.2018,0.229,0.96,2.4,9.70,3.070,0.017,93.44,0.787,56.02
2835,22,28.01.2019,0.044,0.94,1.6,12.85,7.280,0.032,103.04,0.448,60.33
2836,22,12.02.2019,0.134,1.17,2.0,13.47,7.280,0.022,106.40,0.547,36.20
2837,22,12.03.2019,0.000,2.57,0.4,12.09,5.030,0.025,120.32,0.315,63.20
2838,22,02.04.2019,0.201,1.63,0.0,13.16,2.340,0.087,114.56,0.143,63.20
2839,22,23.05.2019,0.126,3.02,8.8,9.86,0.250,0.540,112.00,0.369,59.42
2840,22,10.06.2019,0.101,1.36,2.8,9.94,3.970,0.057,74.28,0.508,52.66
2841,22,04.07.2019,0.000,3.29,0.4,10.83,6.810,0.490,79.36,0.615,51.31
2842,22,06.08.2019,0.022,0.75,0.4,12.45,1.460,0.025,97.92,0.735,55.61
2843,22,04.09.2019,0.159,3.36,0.4,9.27,3.590,0.027,120.96,0.928,66.03
2844,22,21.10.2019,0.000,1.42,1.6,10.00,0.430,0.015,126.72,0.659,62.56
2845,22,18.11.2019,0.051,1.21,0.4,10.29,2.390,0.027,117.12,0.527,66.73
2846,22,04.12.2019,0.104,1.61,0.0,13.90,5.940,0.039,124.16,0.438,62.56
2847,22,15.01.2020,0.000,2.48,0.0,17.20,5.670,0.025,131.80,0.363,65.34
2848,22,11.02.2020,0.048,1.28,5.2,14.44,5.680,0.022,190.72,0.332,70.90
2849,22,11.03.2020,0.000,2.21,6.8,17.39,4.870,0.005,104.96,0.118,63.95
2850,22,07.04.2020,0.049,1.94,7.1,18.67,1.430,0.013,140.80,0.064,65.34
2851,22,13.05.2020,0.000,1.79,10.4,13.08,4.490,0.020,117.12,0.474,61.17
2852,22,09.06.2020,0.000,1.66,24.8,12.95,0.410,0.014,134.00,0.270,66.73
2853,22,01.07.2020,0.045,3.88,4.8,11.27,1.210,0.018,121.12,0.398,62.79
2854,22,11.08.2020,0.104,5.10,0.0,11.74,0.400,0.025,128.00,0.493,69.84
2855,22,15.09.2020,0.000,4.70,0.0,11.33,0.000,0.013,160.64,1.214,73.37
2856,22,06.10.2020,0.046,2.69,3.6,8.28,3.800,0.038,160.00,0.726,77.85
2857,22,27.10.2020,0.000,1.52,0.5,11.26,0.560,0.031,147.20,0.634,71.95
2858,22,03.12.2020,0.034,0.29,0.8,11.09,2.580,0.042,209.92,0.484,61.17
2859,22,12.01.2021,0.000,2.10,0.0,14.31,3.940,0.034,121.60,0.424,63.49
2860,22,10.02.2021,0.000,1.78,0.0,14.30,6.300,0.033,134.40,0.582,66.31

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
id           2861 non-null int64
date         2861 non-null object
NH4          2858 non-null float64
BSK5         2860 non-null float64
Suspended    2845 non-null float64
O2           2858 non-null float64
NO3          2860 non-null float64
NO2          2858 non-null float64
SO4          2812 non-null float64
PO4          2833 non-null float64
CL           2812 non-null float64
dtypes: float64(9), int64(1), object(1)
memory usage: 245.9+ KB

In [5]:
df.shape

(2861, 11)

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,2861.0,12.397064,6.084226,1.00,8.0000,14.000,16.00000,22.000
NH4,2858.0,0.758734,2.486247,0.00,0.0800,0.220,0.50000,39.427
BSK5,2860.0,4.316182,2.973997,0.00,2.1600,3.800,5.80000,50.900
Suspended,2845.0,12.931905,16.543097,0.00,6.0000,10.000,15.00000,595.000
O2,2858.0,9.508902,4.428260,0.00,7.0925,8.995,11.52000,90.000
NO3,2860.0,4.316846,6.881188,0.00,1.3900,2.800,5.58250,133.400
NO2,2858.0,0.246128,2.182777,0.00,0.0300,0.059,0.12575,109.000
SO4,2812.0,59.362313,96.582641,0.00,27.0525,37.800,64.64000,3573.400
PO4,2833.0,0.418626,0.771326,0.00,0.1300,0.270,0.47000,13.879
CL,2812.0,93.731991,394.512184,0.02,26.8000,33.900,45.60750,5615.280

In [8]:
df.isnull().sum()

id            0
date          0
NH4           3
BSK5          1
Suspended    16
O2            3
NO3           1
NO2           3
SO4          49
PO4          28
CL           49
dtype: int64

In [10]:
# date is in object(string) format it needs to be converted 
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
df

,id,date,NH4,BSK5,Suspended,O2,NO3,NO2,SO4,PO4,CL
0,1,2000-02-17,0.330,2.77,12.0,12.30,9.500,0.057,154.00,0.454,289.50
1,1,2000-05-11,0.044,3.00,51.6,14.61,17.750,0.034,352.00,0.090,1792.00
2,1,2000-09-11,0.032,2.10,24.5,9.87,13.800,0.173,416.00,0.200,2509.00
3,1,2000-12-13,0.170,2.23,35.6,12.40,17.130,0.099,275.20,0.377,1264.00
4,1,2001-03-02,0.000,3.03,48.8,14.69,10.000,0.065,281.60,0.134,1462.00
5,1,2001-06-07,0.020,4.02,34.0,10.61,11.800,0.016,287.00,0.208,1183.00
6,1,2001-09-10,0.863,3.91,147.0,10.96,20.500,0.284,595.20,0.674,4023.00
7,1,2001-11-06,0.060,2.97,71.2,13.47,25.800,0.095,314.00,0.390,1907.00
8,1,2002-03-12,0.168,4.15,27.0,17.82,3.945,0.058,153.60,0.110,473.00
9,1,2002-06-06,0.001,7.11,74.4,19.28,2.260,0.017,409.60,0.181,1782.00
10,1,2002-07-15,0.668,6.81,80.0,10.74,34.000,0.020,505.60,0.222,3160.00
11,1,2002-11-07,0.082,3.00,51.4,13.08,27.050,0.092,314.00,0.179,1907.00
12,1,2003-02-24,0.603,3.20,42.0,14.97,9.870,0.169,160.00,0.130,403.70
13,1,2003-06-13,0.058,2.80,9.3,12.30,15.300,0.060,500.00,0.300,2325.00
14,1,2003-09-16,0.053,2.30,31.2,10.80,16.800,0.078,498.50,0.380,2375.00
15,1,2003-10-14,0.017,4.76,80.0,13.77,28.400,0.048,518.40,0.371,3304.50
16,1,2004-03-15,0.014,2.61,30.8,15.51,19.610,0.052,557.80,0.150,1075.00
17,1,2004-06-10,0.035,3.38,59.2,10.47,20.610,0.081,708.40,0.200,2122.83
18,1,2004-09-06,0.057,2.83,25.6,6.97,27.300,0.120,416.16,0.780,2669.60
19,1,2004-12-14,0.053,2.80,19.9,16.10,27.080,0.130,540.60,0.820,2425.00
20,1,2005-01-17,0.000,1.14,26.0,11.66,17.100,0.043,262.40,0.530,836.60
21,1,2005-05-14,0.004,2.31,0.0,14.21,3.480,0.044,183.40,0.000,463.30
22,1,2005-09-02,0.000,3.68,28.5,14.20,15.510,0.033,422.40,0.900,2063.80
23,1,2005-12-22,0.063,2.16,24.8,14.78,17.900,0.052,288.00,0.380,1291.60
24,1,2006-03-20,0.000,0.74,10.0,12.30,17.730,0.087,224.00,0.270,489.00
25,1,2006-06-09,0.035,3.21,24.0,12.22,12.590,0.051,236.80,0.320,1020.90
26,1,2006-09-27,0.005,1.83,40.4,12.05,20.200,0.047,294.40,0.520,1758.30
27,1,2006-11-14,0.041,2.70,12.0,10.72,20.270,0.076,268.80,0.610,1418.00
28,1,2007-03-14,0.020,3.99,22.8,14.96,5.900,0.058,324.50,0.008,1162.80
29,1,2007-05-11,0.000,3.24,48.0,10.67,50.800,0.053,322.80,0.010,1588.20
...,...,...,...,...,...,...,...,...,...,...,...
2831,22,2018-09-24,0.149,3.62,2.0,10.48,1.550,0.015,125.44,0.496,64.64
2832,22,2018-10-08,0.327,1.04,0.8,11.47,2.060,0.021,166.40,0.679,73.26
2833,22,2018-11-06,0.180,1.49,1.9,11.57,1.110,0.020,108.80,0.358,56.74
2834,22,2018-12-12,0.229,0.96,2.4,9.70,3.070,0.017,93.44,0.787,56.02
2835,22,2019-01-28,0.044,0.94,1.6,12.85,7.280,0.032,103.04,0.448,60.33
2836,22,2019-02-12,0.134,1.17,2.0,13.47,7.280,0.022,106.40,0.547,36.20
2837,22,2019-03-12,0.000,2.57,0.4,12.09,5.030,0.025,120.32,0.315,63.20
2838,22,2019-04-02,0.201,1.63,0.0,13.16,2.340,0.087,114.56,0.143,63.20
2839,22,2019-05-23,0.126,3.02,8.8,9.86,0.250,0.540,112.00,0.369,59.42
2840,22,2019-06-10,0.101,1.36,2.8,9.94,3.970,0.057,74.28,0.508,52.66
2841,22,2019-07-04,0.000,3.29,0.4,10.83,6.810,0.490,79.36,0.615,51.31
2842,22,2019-08-06,0.022,0.75,0.4,12.45,1.460,0.025,97.92,0.735,55.61
2843,22,2019-09-04,0.159,3.36,0.4,9.27,3.590,0.027,120.96,0.928,66.03
2844,22,2019-10-21,0.000,1.42,1.6,10.00,0.430,0.015,126.72,0.659,62.56
2845,22,2019-11-18,0.051,1.21,0.4,10.29,2.390,0.027,117.12,0.527,66.73
2846,22,2019-12-04,0.104,1.61,0.0,13.90,5.940,0.039,124.16,0.438,62.56
2847,22,2020-01-15,0.000,2.48,0.0,17.20,5.670,0.025,131.80,0.363,65.34
2848,22,2020-02-11,0.048,1.28,5.2,14.44,5.680,0.022,190.72,0.332,70.90
2849,22,2020-03-11,0.000,2.21,6.8,17.39,4.870,0.005,104.96,0.118,63.95
2850,22,2020-04-07,0.049,1.94,7.1,18.67,1.430,0.013,140.80,0.064,65.34
2851,22,2020-05-13,0.000,1.79,10.4,13.08,4.490,0.020,117.12,0.474,61.17
2852,22,2020-06-09,0.000,1.66,24.8,12.95,0.410,0.014,134.00,0.270,66.73
2853,22,2020-07-01,0.045,3.88,4.8,11.27,1.210,0.018,121.12,0.398,62.79
2854,22,2020-08-11,0.104,5.10,0.0,11.74,0.400,0.025,128.00,0.493,69.84
2855,22,2020-09-15,0.000,4.70,0.0,11.33,0.000,0.013,160.64,1.214,73.37
2856,22,2020-10-06,0.046,2.69,3.6,8.28,3.800,0.038,160.00,0.726,77.85
2857,22,2020-10-27,0.000,1.52,0.5,11.26,0.560,0.031,147.20,0.634,71.95
2858,22,2020-12-03,0.034,0.29,0.8,11.09,2.580,0.042,209.92,0.484,61.17
2859,22,2021-01-12,0.000,2.10,0.0,14.31,3.940,0.034,121.60,0.424,63.49
2860,22,2021-02-10,0.000,1.78,0.0,14.30,6.300,0.033,134.40,0.582,66.31

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
id           2861 non-null int64
date         2861 non-null datetime64[ns]
NH4          2858 non-null float64
BSK5         2860 non-null float64
Suspended    2845 non-null float64
O2           2858 non-null float64
NO3          2860 non-null float64
NO2          2858 non-null float64
SO4          2812 non-null float64
PO4          2833 non-null float64
CL           2812 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 245.9 KB

In [12]:
df = df.sort_values(by=['id','date'])
df.head()

,id,date,NH4,BSK5,Suspended,O2,NO3,NO2,SO4,PO4,CL
0,1,2000-02-17,0.330,2.77,12.0,12.30,9.50,0.057,154.0,0.454,289.5
1,1,2000-05-11,0.044,3.00,51.6,14.61,17.75,0.034,352.0,0.090,1792.0
2,1,2000-09-11,0.032,2.10,24.5,9.87,13.80,0.173,416.0,0.200,2509.0
3,1,2000-12-13,0.170,2.23,35.6,12.40,17.13,0.099,275.2,0.377,1264.0
4,1,2001-03-02,0.000,3.03,48.8,14.69,10.00,0.065,281.6,0.134,1462.0

In [13]:
# to extract year only form date
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [14]:
df.head()

,id,date,NH4,BSK5,Suspended,O2,NO3,NO2,SO4,PO4,CL,year,month
0,1,2000-02-17,0.330,2.77,12.0,12.30,9.50,0.057,154.0,0.454,289.5,2000,2
1,1,2000-05-11,0.044,3.00,51.6,14.61,17.75,0.034,352.0,0.090,1792.0,2000,5
2,1,2000-09-11,0.032,2.10,24.5,9.87,13.80,0.173,416.0,0.200,2509.0,2000,9
3,1,2000-12-13,0.170,2.23,35.6,12.40,17.13,0.099,275.2,0.377,1264.0,2000,12
4,1,2001-03-02,0.000,3.03,48.8,14.69,10.00,0.065,281.6,0.134,1462.0,2001,3

In [15]:
df.columns

Index(['id', 'date', 'NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL', 'year', 'month'],
      dtype='object')

In [ ]:
pollutnts = ['O2', 'NO3', 'NO2', 'SO4','PO4', 'CL']